/* Add these styles to your existing CSS file (e.g., login.component.css) */

/* Style for the "Forgot Password" link */
.forgot-password-link {
  color: #007bff; /* Bootstrap's primary color */
  cursor: pointer;
  text-decoration: underline;
}

.forgot-password-link:hover {
  color: #5d6d7e; /* Darker shade on hover */
}





.success-message {
  background-color: #c8dac8;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  display: inline-block;
}


body {
  background-color: #f5f5f5;
 
}

.container {
  margin-top: 5rem;
  width: 30%;
  background-color: rgba(111, 218, 245, 0.8); /* Brown with transparency */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* 3D shadow effect */
}

h2 {
  text-align: center;
  color: #6060bd; /* SaddleBrown color */
}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group-addon {
  background-color: #6cdce8; /* SaddleBrown color */
  color: #fff;
  border: none;
  border-radius: 5px;
}

.form-control {
  border-radius: 5px;
}

.btn-coffee {
  background-color: #5f88bb; /* SaddleBrown color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-coffee:hover {
  background-color: #83bcee; /* Sienna color on hover */
}

.error-message {
  color: #DC143C; /* Crimson color for error messages */
}

/* Your existing CSS */
.input-group-addon {
  background-color: #7bd762;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

.input-group-addon:hover {
  background-color: #85b9ce;
}
/* Add this CSS to your global styles (styles.css or styles.scss) */


